{#{% load staticfiles %}#}
<!DOCTYPE html>
<html class="has-background-light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
{% load static %}

    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
</head>

<body>

<nav class="navbar is-dark is-spaced">
    <div class="navbar-brand">
        <a href="{% url 'meal_list' %}" class="navbar-item">
            Meal Delivery
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navigation" class="navbar-menu">
        <div class="navbar-start">
            <a href="{% url 'meal_list' %}" class="navbar-item">Comidas</a>
            <a href="{% url 'menu_list' %}" class="navbar-item">Menu</a>

        </div>

        <div class="navbar-end">

            {% if user.is_authenticated %}
             <a class="navbar-item" href="#">Usuario: {{ user.username }}</a>
            {% else %}
                 <a class="navbar-item" href="#">Iniciar sesión</a>

            {% endif %}


        </div>


    </div>

</nav>

<div class="section">

    <div class="container">


        {% block content %}

        {% endblock %}

    </div>

</div>

<script src="https://unpkg.com/mithril/mithril.js"></script>

<script type="text/javascript">
    {% include 'javascript_app.js' %}

    /* helper de bulma para mostrar el menú principal cuando activa el burger-menu */
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

</script>

</body>
</html>
