{% extends 'base/layout.html' %}


{% block content %}

    <a href="{% url 'meal_create' %}" class="button is-link is-pulled-right">Agregar</a>
    <h1 class="title">Comidas disponibles</h1>
    <div class="table-container box">
        <table class="table is-fullwidth is-hoverable">

            <tr class="thead">

                <th>Nombre</th>
                <th>Descripción</th>
                <th></th>
            </tr>

            <tbody>
            {% for meal in meal_list %}

                <tr>
                    <td>

                        <a href="#">{{ meal.name|capfirst }}</a>


                    </td>
                    <td>{{ meal.description|capfirst }}</td>

                    <td>


                        <a class="button is-warning" href="{% url 'meal_update' meal.pk %}">
                            editar
                        </a>

                    </td>
                </tr>

            {% endfor %}
            </tbody>



        </table>

    </div>
{% endblock %}
