{% extends 'base/layout.html' %}

{% block content %}

    <div class="columns">
        <div class="column">
            <div class="box">
                <h1 class="title">{{ title }}</h1>
                <form method="post">
                    {% csrf_token %}

                    <div class="field">
                        <label for="name" class="label">Nombre</label>
                        <div class="control">
                            <input value="{{ form.name.value | default_if_none:"" }}" class="input" type="text" name="name" maxlength="140" required="" id="id_name">
                        </div>
                        {% if form.name.errors %}
                            <p class="help is-danger">
                                {% for error in form.name.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label for="description" class="label">Descripción</label>
                        <div class="control">
                            <textarea class="textarea" name="description" placeholder="Detalle, ingredientes, especificaciones, etc." cols="40" rows="10" maxlength="500" id="id_description">
                                {{ form.description.value | default_if_none:'' }}
                            </textarea>
                        </div>
                        {% if form.description.errors %}
                            <p class="help is-danger">
                                {% for error in form.description.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>

                    <div class="field block is-align-content-end">



                        {% if form.instance.pk %}

                            <input class="button is-primary" type="submit" value="Modificar">


                            <a class="button is-pulled-right is-danger" href="{% url 'meal_delete' form.instance.pk %}">
                                Eliminar
                            </a>

                        {%  else %}

                            <input class="button is-primary" type="submit" value="Agregar">


                        {% endif %}

                        <a href="{% url 'meal_list' %}" class="button">Cancelar</a>


                    </div>


                </form>

            </div>
        </div>





    </div>

{% endblock %}
