{% extends 'base/layout.html' %}

{% block content %}

    <div class="notification is-warning">
        <form method="post">
            {% csrf_token %}

            <h2 class="title">Confirma que desea eliminar "{{ object }}"?</h2>

            <button class="button is-dark is-pulled-right" type="submit">Si, confirmar</button>
            <a href="{% url 'meal_list' %}" class="button">No, anular</a>

        </form>
    </div>
{% endblock %}
