{% extends 'base/layout.html' %}


{% block content %}

    <a href="{% url 'menu_create' %}" class="button is-link is-pulled-right">Agregar</a>
    <h1 class="title">Menús disponibles</h1>
    <div class="table-container box">
        <table class="table is-fullwidth is-hoverable">

            <tr class="thead">

                <th>Fecha</th>
                <th>Opciones</th>
                <th></th>
            </tr>

            <tbody>
            {% for menu in menu_list %}

                <tr>
                    <td>
                        <a href="{{ menu.get_absolute_url }}">
                            {{ menu.due_date }}
                        </a>

                    </td>
                    <td>

                        <div class="menu content">

                            <ol class="menu-list">

                                {% for meal in menu.meals.all %}

                                    <li><a class="is-capitalized" href="{% url 'meal_update' meal.id %}">{{ meal.name }}</a></li>

                                {% endfor %}
                            </ol>
                        </div>
                    </td>

                    <td>


                        <a class="button is-pulled-right is-warning" href="{% url 'menu_update' menu.pk %}">
                            Editar
                        </a>

                    </td>
                </tr>

            {% endfor %}
            </tbody>



        </table>

    </div>
{% endblock %}
