{% extends 'base/layout.html' %}

{% block content %}


    <div class="box">
        <h1 class="title">{{ title }}</h1>
        <form method="post">
            {% csrf_token %}


            <div class="field">
                <label for="id_due_date" class="label">Fecha</label>
                <div class="control">
                    <input class="input"
                           value="{{ form.due_date.value | date:"Y-m-d" | default_if_none:"" }}"
                           type="date" name="due_date" required="true" id="id_due_date" />

                </div>
                {% if form.due_date.errors %}
                    <p class="help is-danger">
                        {% for error in form.due_date.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>


            <div class="field">
                <label for="" class="label"></label>

                <div class="control">

                    <div class="select is-multiple is-fullwidth">
                        {{ form.meals }}
                    </div>
                </div>

            </div>



            <div class="field">


                {% if form.instance.pk %}

                    <input class="button is-primary" type="submit" value="Modificar">


                    <a class="button is-pulled-right is-danger" href="{% url 'menu_delete' form.instance.pk %}">
                        Eliminar
                    </a>

                {%  else %}

                    <input class="button is-primary" type="submit" value="Agregar">


                {% endif %}

                <a href="{% url 'menu_list' %}" class="button">Cancelar</a>


            </div>


        </form>

    </div>

{% endblock %}
