{% extends 'base/layout.html' %}


{% block content %}

    <div class="box">

        {% for error in form.non_field_errors %}
            <div class="panel-block has-background-warning has-text-centered">
                {{ error|escape }}
            </div>
        {% endfor %}
        <form method="post">


            <h1 class="title has-text-centered">{{ menu}} {{ title }}</h1>
            <h2 class="subtitle">Selecciona tu comida

                {%  if form.errors %}

                    {% for f in form %}

                        {% for e in f.errors %}
                            <p class="help is-danger">{{ e }}</p>
                        {% endfor %}
                    {% endfor %}

                {% endif %}



            </h2>

            {% csrf_token %}



            {% for meal in menu.meals.all %}

                <div class="field">


                    <div class="control">


                        <label class="radio">

                            <input type="radio" value="{{ meal.name }}" name="meal_choice" />
                            {{ meal.name|capfirst }}


                        </label>
                        <div class="help">
                            {{ meal.description }}
                        </div>


                    </div>


                </div>


            {% endfor %}

            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="meal_choice" value="NADA" />
                        No quiero almuerzo, gracias
                    </label>
                </div>
            </div>
        {% if user.is_authenticated %}
            <div class="field">
                <div class="control">
                    <label for="customization">Especifica tu personalización</label>
                    <textarea name="customization" id="customization" class="textarea"></textarea>
                </div>
            </div>


            <div class="block pt-4 has-text-right">

                <input type="hidden" name="menu" value="{{ menu.id }}">

                <button class="button is-success" type="submit">Confirmar</button>
            </div>

{% endif %}


        </form>
    </div>
{% endblock %}
